# SQL-MySQL database, Assignment no. 15
## 16th feb 2023 Assignment

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

The Database is an essential part of our life. As we encounter several activities that involve our interaction with databases, for example in the bank, in the railway station, in school, in a grocery store, etc. These are the instances where we need to store a large amount of data in one place and fetch these data easily. 

Data : statistics it is raw and unprocessed . ex- name , class , marks etc.

information : when data is processed . ” record is also information “. example – pass or fail table etc.

Database : an organized collection of data and information or interrelated data collected at one place.


DBMS: Collection of interrelated data and set of program to access data example – MySql, Oracle.

Application : Company Information , Account information, manufacturing, banking ,finance transactions, telecommunications.

### A database is a collection of data that is organized, which is also called structured data. It can be accessed or stored in a computer system. It can be managed through a Database Management System (DBMS), a software used to manage data. Database refers to related data in a structured form. 

In a database, data is organized into tables consisting of rows and columns and it is indexed so data can be updated, expanded, and deleted easily. Computer databases typically contain file records data like transactions money in one bank account to another bank account, sales and customer details, fee details of students, and product details. There are different kinds of databases, ranging from the most prevalent approach, the relational database, to a distributed database, cloud database, and NoSQL databases.  

- Relational Database: 
A relational database is made up of a set of tables with data that fits into a predefined category.
 
- Distributed Database: 
A distributed database is a database in which portions of the database are stored in multiple physical locations, and in which processing is dispersed or replicated among different points in a network. 
 
- Cloud Database: 
A cloud database is a database that typically runs on a cloud computing platform. Database service provides access to the database. Database services make the underlying software-stack transparent to the user.
These interactions are the example of a traditional database where data is of one type-that is textual. In advancement of technology has led to new applications of database systems. New media technology has made it possible to store images, video clips. These essential features are making multimedia databases. 

Nowadays, people are becoming smart – before taking any decisions they analyze facts and figures related to it, which come from these databases. As the databases have made it easier to manage information, we are able to catch criminals and do deep research.

#### The Main Differences SQL and NoSQL:
##### Structured Query Language and Not only Structured Query Language.

1. Type – 
SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 
2. Language – 
SQL databases defines and manipulates data based structured query language (SQL). Seeing from a side this language is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe choice especially for great complex queries. But from other side it can be restrictive. SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also all of your data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system. 
A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having defined structure first. Also each document can have its own unique structure. The syntax varies from database to database, and you can add fields as you go. 
3. Scalability – 
In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. It is similar to adding more floors to the same building versus adding more buildings to the neighborhood. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.
4. Structure – 
SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure. 
5. Property followed – 
SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 
6. Support – 
Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help you with SQL database for a very large scale deployments but for some NoSQL database you still have to rely on community support and only limited outside experts are available for setting up and deploying your large scale NoSQL deployments. 


#### Key highlights on SQL vs NoSQL: 

|SQL	| NoSQL|
|-------|------|
| RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	| Non-relational or distributed database system.|
| These databases have fixed or static or predefined schema	| They have dynamic schema |
| These databases are not suited for hierarchical data storage. |	These databases are best suited for hierarchical data storage. |
| These databases are best suited for complex queries	| These databases are not so good for complex queries |
| Vertically Scalable	| Horizontally scalable |
| Follows ACID property(atomicity, consistency, isolation, and durability)	| Follows CAP(consistency, availability, partition tolerance)|
| Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc |	Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc |

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.

List of DDL commands: 

- CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
- DROP: This command is used to delete objects from the database.
- ALTER: This is used to alter the structure of the database.
- TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
- COMMENT: This is used to add comments to the data dictionary.
- RENAME: This is used to rename an object existing in the database.

#

### CREATE
CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
> - cursor_object.execute("Create database database_name")
> - cursor_object.execute("Create table table_name(columnm_name1 datatype constraint,columnm_name2 datatype constraint ")

## creating database

In [ ]:
import mysql.connector
db=mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
# prepare a cursor object using cursor() method
mycursor = db.cursor()
# execute SQL query using execute() method.
mycursor.execute("CREATE DATABASE test_db")
# disconnect from server
db.close()

## creating table inside database

##### ,database='test_db' inside connect() is not working, i think it's removed from mysql

In [ ]:
import mysql.connector
db=mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password",
    database='test_db'
)
# prepare a cursor object using cursor() method
cursor = db.cursor()
# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS test_table")
# Create table as per requirement
sql = """CREATE TABLE if not exists test_table(
         test_name  VARCHAR(50) NOT NULL,
         test_mail  VARCHAR(50),
         test_phone INT,  
         test_age INT)"""    

cursor.execute(sql)
print("Table Created Successfully")
# disconnect from server
db.close()

#

### ALTER statement of SQL
With the ALTER statement, one can add, drop, or modify a column of an existing table as well as modify table constraints.

The syntax for adding a column with ALTER statement:

    ALTER TABLE table_name
    ADD new_column_name column_definition
    [FIRST | AFTER column_name];
Here, the table_name is the name of the table to which the column is being added, new_column_name is the name of the column to be added and column_definition is the datatype and definition of the column to be added. FIRST and AFTER are optional statements that tell MySQL the position for the new column in the table. If this parameter is not specified then the new column is added to the end of the table.

Implementation:

To add a column to a MySQL table in Python, first establish a connection with the database server. Then create a cursor object. This cursor object interacts with the MySQL server and can be used to perform operations such as execute SQL statements, fetch data and call procedures. So, using this cursor object, execute the ALTER statement to add a column either at the end or at a specific position.

### DROP
DROP is used to delete a whole database or just a table.

The DROP statement which destroys objects like an existing database, table, index, or view. A DROP statement in SQL removes a component from a relational database management system (RDBMS). 

Syntax:
> DROP object object_name

Examples 1:

- To Drop a table

> DROP TABLE table_name;
> - table_name: Name of the table to be deleted.

Examples 2:

- To Drop a database

> DROP DATABASE database_name;
> - database_name: Name of the database to be deleted.

### TRUNCATE
The major definition between TRUNCATE and DROP is that truncate is used to delete the data inside the table not the whole table.

TRUNCATE statement is a Data Definition Language (DDL) operation that is used to mark the extent of a table for deallocation (empty for reuse). The result of this operation quickly removes all data from a table, typically bypassing several integrity-enforcing mechanisms. It was officially introduced in the SQL:2008 standard. The TRUNCATE TABLE mytable statement is logically (though not physically) equivalent to the DELETE FROM mytable statement (without a WHERE clause).


Syntax:

> TRUNCATE TABLE  table_name;
> - table_name: Name of the table to be truncated.


#### DROP vs TRUNCATE
- Truncate is normally ultra-fast and it’s ideal for deleting data from a temporary table.
- Truncate preserves the structure of the table for future use, unlike drop table where the table is deleted with its full structure.
- Table or Database deletion using a DROP statement cannot be rolled back, so it must be used wisely.
 Difference between DROP and TRUNCATE
| DROP | TRUNCATE|
|-----|-----|
| In the drop table data and its definition is deleted with their full structure. | It preserves the structure of the table for further use exist but deletes all the data. |
| Drop is used to eliminate existing complications and fewer complications in the whole database from the table. | Truncate is used to eliminate the tuples from the table. |
| Integrity constraints get removed in the DROP command. | Integrity constraint doesn’t get removed in the Truncate command. |
| Since the structure does not exist, the View of the table does not exist in the Truncate command. | Since the structure exists, the View of the table exists in the Truncate command. |
| Drop query frees the table space complications from memory. | This query does not free the table space from memory. |
| It is slow as there are so many complications compared to the TRUNCATE command. | It is fast as compared to the DROP command as there are fewer complications. |

In [ ]:
import mysql.connector
db=mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password",
    database='test_db' #selected database
)

# prepare a cursor object using cursor() method
mycursor = db.cursor()

# Create table as per requirement
sql = """CREATE TABLE if not exists test_table(
         test_name  VARCHAR(50) NOT NULL,
         test_mail  VARCHAR(50),
         test_phone INT,  
         test_age INT)"""    

mycursor.execute(sql)
print("Table Created Successfully")

# TRUNCATE table using execute() method.
mycursor.execute("TRUNCATE TABLE test_table")

# Drop table if it already exist using execute() method.
mycursor.execute("DROP TABLE IF EXISTS test_table")

# Drop DATABASE
mycursor.execute("DROP database test_db")

# disconnect from server
db.close()

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML(Data Manipulation Language): 
The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

List of DML commands: 

- INSERT : It is used to insert data into a table.
- UPDATE: It is used to update existing data within a table.
- DELETE : It is used to delete records from a database table.
- LOCK: Table control concurrency.
- CALL: Call a PL/SQL or JAVA subprogram.
- EXPLAIN PLAN: It describes the access path to data.

### INSERT
INSERT : It is used to insert data into a table.
   > syntax
   > - cursor_object.execute("Insert into table_name valiues(value1, value2,...))
  >  - cursor_object.execute("Insert into table_name (columnm_name1 ,columnm_name2,..") Values (value1, value2,...))

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)

mycursor = mydb.cursor()

mycursor.execute("create database if not exists test_db") # creating database
mycursor.execute("create table if not exists test_db.test_table( \
         test_name  VARCHAR(50) NOT NULL, \
         test_mail  VARCHAR(50), \
         test_phone INT, \ 
         test_age INT \
)") # creating table, "\" is for continuing mysql statement in nextline

mycursor.execute("INSERT into test_db.test_table VALUES ('mohan', 'mohan@gmail.com', 2343545, 24)")

mydb.commit()
mydb.close()

In [ ]:
import mysql.connector
db=mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)

# prepare a cursor object using cursor() method
mycursor = db.cursor()

try:
    # Execute the SQL command
    mycursor.execute("INSERT INTO test_db(test_name,\
         test_mail, test_phone, test_age) \
         VALUES ('sohan', 'sohan@gmail.com', 27454541, 22)")
    
    print ("Data Inserted Successfully...!")
    # Commit your changes in the database
    db.commit()
except:
    # Rollback in case there is any error
    db.rollback()
# disconnect from server
db.close()

### UPDATE
UPDATE: It is used to update existing data within a table.
> - cursor_object.execute("Update tablename set column_name = value where condition" )

In [ ]:
'''
Update operation in test_table table
'''
import mysql.connector
db=mysql.connector.connect(user='abc',password='password',host='localhost',database='test_db')

# prepare a cursor object using cursor() method
mycursor = db.cursor()

# Prepare SQL query to UPDATE required records
sql = "UPDATE test_table SET test_age = test_age + 1 WHERE test_name = 'sohan'"

try:
    # Execute the SQL command
    mycursor.execute(sql)
    # Commit your changes in the database
    db.commit()
    
except:
    # Rollback in case there is any error
    db.rollback()
    
# disconnect from server
db.close()

### DELETE
DELETE : It is used to delete records from a database table.
> - cursor_object.execute("Delete * from tablename where condition")

In [ ]:
'''
DELETE operation in test_table table
'''
import mysql.connector

db=mysql.connector.connect(host='localhost',
    user='abc',
    password='password',
    database='test_db'
)

# prepare a cursor object using cursor() method
mycursor = db.cursor()

# Prepare SQL query to UPDATE required records
sql = "DELETE FROM test_table WHERE test_age > 23 "

try:
    # Execute the SQL command
    mycursor.execute(sql)
    print ("Data Deleted SuccessFully..!")    
    # Commit your changes in the database
    db.commit()
    
except:
    # Rollback in case there is any error
    db.rollback()
    
# disconnect from server
db.close()

## Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language):
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

List of DQL: 

- SELECT: It is used to retrieve data from the database.
cursor_object.execute("Select * from tablename")
cursor_object.execute("Select * from tablename where condition")

In [ ]:
SELECT * FROM test_db.test_table;

In [ ]:
'''
Read Operation in test_table Table
'''
import mysql.connector

db=mysql.connector.connect(user='abc',password='password',host='localhost')

# prepare a cursor object using cursor() method
mycursor = db.cursor()

sql = "SELECT * FROM test_db.test_table" #sql query

try:
    # Execute the SQL command
    mycursor.execute(sql)
    
    # Fetch all the rows in a list of lists.
    results = mycursor.fetchall()
    for row in results:
        test_name = row[0]
        test_mail = row[1]
        test_phone = row[2]
        test_age = row[3]
        #Now print fetched result
        print (test_name, test_mail, test_phone, test_age )
        
except:
       print ("Error: unable to fetch data")
        
# disconnect from server
db.close()

In [ ]:
'''
Search Operation in test_table Table, condition WHERE age > 20
'''
import mysql.connector

mydb=mysql.connector.connect(user='abc',password='password',host='localhost',database='test_db')

# prepare a cursor object using cursor() method
mycursor = mydb.cursor()
sql = "SELECT * FROM test_db.test_table WHERE test_age > 20"

try:
    # Execute the SQL command
    mycursor.execute(sql)
    # Fetch all the rows in a list of lists.
    results = mycursor.fetchall()
    for row in results:
        test_name = row[0]
        test_mail = row[1]
        test_phone = row[2]
        test_age = row[3]
        #Now print fetched result
        print (test_name, test_mail, test_phone, test_age )
        
except:
       print ("Error: unable to fetch data")
        
# disconnect from server
#db.close()

finally:
    if mydb.is_connected():
        mycursor.close()
        mydb.close()
        print("MySQL connection is closed")

#### Q5. Explain Primary Key and Foreign Key.

Keys are attribute that helps you to identify a row(tuple) in a relation(table). They allow you to find the relationship between two tables. Keys help you uniquely identify a row in a table by a combination of one or more columns in that table. The database key is also helpful for finding a unique record or row from the table.

### Primary Key
A Primary key is a unique column we set in a table to easily identify and locate data in queries. A table can have only one primary key.

The primary key column has a unique value and doesn’t store repeating values. A Primary key can never take NULL values.

For example, in the case of a student when identification needs to be done in the class, the roll number of the student plays the role of Primary key.

Similarly, when we talk about employees in a company, the employee ID is functioning as the Primary key for identification.

Let us now understand the Syntax of creating the table with the Primary key specified.

Syntax:

CREATE TABLE tableName (


    col1 int NOT NULL,
    col2 varchar(50) NOT NULL,
    col3 int,
    …………….
    PRIMARY KEY (col1)
);

### Foreign Key
A Foreign key is beneficial when we connect two or more tables so that data from both can be put to use parallelly.

A foreign key is a field or collection of fields in a table that refers to the Primary key of the other table. It is responsible for managing the relationship between the tables.

The table which contains the foreign key is often called the child table, and the table whose primary key is being referred by the foreign key is called the Parent Table.

For example: When we talk about students and the courses they have enrolled in, now if we try to store all the data in a single table, the problem of redundancy arises.

To solve this table, we make two tables, one the student detail table and the other department table. In the student table, we store the details of students and the courses they have enrolled in.

And in the department table, we store all the details of the department. Here the courseId acts as the Primary key for the department table whereas it acts as the Foreign key in the student table.

Let us now look at the syntax of creating a table with a foreign key.

Syntax:

CREATE TABLE childTable (


    col1 int NOT NULL,
    col2 int NOT NULL,
    col3 int,
    ………...
    PRIMARY KEY (col1),
    FOREIGN KEY (col3) REFERENCES parentTable(parent_Primary_key)
);

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

MySQL Connector module of Python is used to connect MySQL databases with the Python programs, it does that using the Python Database API Specification v2.0 (PEP 249). It uses the Python standard library and has no dependencies.
 

- Connecting to the Database
The mysql.connector provides the connect() method used to create a connection between the MySQL database and the Python application. The syntax is given below.

Syntax:

    Conn_obj= mysql.connector.connect(host = <hostname>, user = <username>, passwd = <password>)    
    The connect() function accepts the following arguments.


>* Hostname – It represents the server name or IP address on which MySQL is running.
>* Username – It represents the name of the user that we use to work with the MySQL server. By default, the username for the MySQL database is root.
>* Password – The password is provided at the time of installing the MySQL database. We don’t need to pass a password if we are using the root.
>* Database – It specifies the database name which we want to connect. This argument is used when we have multiple databases.
 

### 1. In the following example we will be connecting to MySQL database using connect()

Example: 

        import mysql.connector       #Python program to connect to mysql database
        conn = mysql.connector.connect(user = 'username',   #Connecting from the server
                               host = 'localhost',
                              database = 'database_name')
        print(conn)
        conn.close()                #Disconnecting from the server

### 2. Also for the same, we can use connection.MySQLConnection() class instead of connect():
Example:

    from mysql.connector import connection     #Python program to connect to mysql database
    conn = connection.MySQLConnection(user = 'username',   #Connecting to the server
                                  host = 'localhost',
                                  database = 'database_name')
    print(conn)
    conn.close()   #Disconnecting from the server

### 3. Another way is to pass the dictionary in the connect() function using ‘**’ operator:
Example: 
 
        from mysql.connector import connection  #Python program to connect to mysql database
        
        dict = {
          'user': 'root',
          'host': 'localhost',
          'database': 'College'
        }

        conn = connection.MySQLConnection(**dict)  #Connecting to the server
        print(conn)
        conn.close()   #Disconnecting from the server

In [ ]:
#importing required libraries
import mysql.connector  # this module will let you connect to mysql via python

mydb = mysql.connector.connect(   ##Connecting to the server
    
    host = "localhost", # link of database server
    
    user = "abc", #user name of database id
    
    password = "password" #password to access user's database
)

mycursor = mydb.cursor() #preparing a cursor object : cursorObject = dataBase.cursor()

mycursor.execute("CREATE DATABASE test_db") #creating database : cursorObject.execute("CREATE DATABASE database_name")

mydb.close() #Disconnecting from the server

#### Q7. Give the order of execution of SQL clauses in an SQL query.

SQL queries are used to access a set of records present in our database tables. SQL queries are made up of one or more clauses. A particular order must be followed to execute these clauses to obtain correct results. This order of execution is known as SQL query execution order.

- Introduction
In this digital era, we don't want to waste our time searching for names having salaries above Rs.10000. We want our results to be optimized without wasting any time and not in a tedious manner. Here comes the SQL query execution order, sometimes also called SQL order of operations, so that the data we are looking for is retrieved in the most optimized way and takes the least execution time possible.

SQL query execution order means optimizing our search results from the database or where the query clauses are evaluated according to the requirements.

Like how we plan something step by step and reach the final result, similarly, we use clauses in a particular order known as the SQL query execution order. Here is the table that shows the order in which the clauses are used.

| Order	| Clause |	Function |
|-------|-------|-------|
| 1	| FROM	| Tables are joined to get the base data. |
| 2	| WHERE	| The base data is filtered. |
| 3	| GROUP BY | The filtered base data is grouped. |
| 4	| HAVING | The grouped base data is filtered. |
| 5 | SELECT	| The final data is returned. |
| 6	| ORDER BY	| The final data is sorted. |
| 7	| LIMIT	|The returned data is limited to row count.|

Let us assume the following two tables: Customers and Orders.

The customer's table contains data on the customer's name and IDs. The order table contains the details of the customer's order; for example, it contains the amount and the order id of the customer's id.

>* Note: We will be using these two databases in the article.
- Table 1 - Customers

|customer_id |	first_name|
|--------|--------|
|1	|John|
|2|	Robert|
|3|	David|
|4|	John|
|5	|Betty|
- Table 2 - Order

| order_id |	amount|	customer_id|
|---|------|------|
|1|200|	4 |
|2|500|	10 |
|3|300|	3 |
|4|800|	1 |
|5|150|	2 |

So, here is the question that we will solve using the SQL query execution order.
Let’s say that we want to get the customers' order details where the order id is less than equal to 4 with the limit set as 2. Also, the result should be in ascending order.

This is the query that we will understand step by step.

    SELECT Customers.customer_id, Customers.first_name, Orders.amount, Orders.order_id
    FROM Customers
    JOIN Orders
    ON Customers.customer_id = Orders.customer_id
    WHERE Orders.order_id <=4
    ORDER BY Orders.order_id ASC
    LIMIT 2