# NoSQL-MongoDB database, Assignment no. 16
## 17th feb 2023 Assignment

#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

### MongoDB
MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. 

The MongoDB database is developed and managed by MongoDB.Inc under SSPL(Server Side Public License) and initially released in February 2009. It also provides official driver support for all the popular languages like C, C++, C#, and .Net, Go, Java, Node.js, Perl, PHP, Python, Motor, Ruby, Scala, Swift, Mongoid. So, that you can create an application using any of these languages. Nowadays there are so many companies that used MongoDB like Facebook, Nokia, eBay, Adobe, Google, etc. to store their large amount of data. 

Because of its NoSQL database, the data is stored in the collections and documents. Hence the database, collection, and documents are related to each other  as
> - Database -> Collection -> Documents

- The MongoDB database contains collections just like the MYSQL database contains tables. You are allowed to create multiple databases and multiple collections.
- Now inside of the collection we have documents. These documents contain the data we want to store in the MongoDB database and a single collection can contain multiple documents and you are schema-less means it is not necessary that one document is similar to another.
- The documents are created using the fields. Fields are key-value pairs in the documents, it is just like columns in the relation database. The value of the fields can be of any BSON data types like double, string, boolean, etc.
- The data stored in the MongoDB is in the format of BSON documents. Here, BSON stands for Binary representation of JSON documents. Or in other words, in the backend, the MongoDB server converts the JSON data into a binary form that is known as BSON and this BSON is stored and queried more efficiently.
- In MongoDB documents, you are allowed to store nested data. This nesting of data allows you to create complex relations between data and store them in the same document which makes the working and fetching of data extremely efficient as compared to SQL. In SQL, you need to write complex joins to get the data from table 1 and table 2. The maximum size of the BSON document is 16MB.
> NOTE: In MongoDB server, you are allowed to run multiple databases. 

For example, we have a database named PWSKILLS. Inside this database, we have two collections and in these collections we have two documents. And in these documents we store our data in the form of fields.

### non-relational database
A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

> In a non-relational database, one piece of stored data might have different fields or attributes from the piece of data next to it in the same database. If you picture a spreadsheet of ice cream flavors, you know that each row is going to look approximately the same. There will be a column for the ice cream flavor name, a column for the brand, a column for the ingredients and so on. Each row in the spreadsheet will have some value for each of these columns.

> A non-relational database doesn’t have to take this shape at all. One ice cream flavor entry might have information about its prize-winning recipe, another might have a list of celebrities who have listed that flavor as their favorite and a third might have tasting notes. In short, there is a lot more flexibility with storing data in a non-relational database.

#### When to Use MongoDB?
MongoDB is an ideal database to:

- Integrate various data sources with different formats in a centralized location.
- At the back-end of high-performance applications that require high scalability or traffic, such as e-commerce, social media, or IoT application, horizontal scalability allows users to increase the database’s capacity at a low cost.
- Deal with complex, continuously evolving data structures.

#### When to Use MySQL?
MySQL is suitable for certain scenarios, especially:

- When data requires high security and referential integrity.
- To maintain a set schema with organized data that you don’t have to update over time.
- At the backend of financial applications, banking applications, or medical applications.
- For novice developers as MySQL has a vast community and low setup costs.
- For startups that want to handle low-volume traffic.

#### Q2. State and Explain the features of MongoDB.

#### Features of MongoDB –
 
- **Schema-less Database** : It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

- **Document Oriented** : In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

- **Indexing** : In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

- **Scalability** : MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

- **Replication** : MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

- **Aggregation** : It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

- **High Performance** : The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

#### Advantages of MongoDB : 
- It is a schema-less NoSQL database. You need not to design the schema of the database when you are working with MongoDB.
- It does not support join operation.
- It provides great flexibility to the fields in the documents.
- It contains heterogeneous data.
- It provides high performance, availability, scalability.
- It supports Geospatial efficiently.
- It is a document oriented database and the data is stored in BSON documents.
- It also supports multiple document ACID transition(string from MongoDB 4.0).
- It does not require any SQL injection.
- It is easily integrated with Big Data Hadoop

#### Disadvantages of MongoDB : 
- It uses high memory for data storage.
- You are not allowed to store more than 16MB data in the documents.
- The nesting of data in BSON is also limited you are not allowed to nest data more than 100 levels.

#

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo # mogodb library is not present in python

In [2]:
pip install pymongo #installing python-mongodb library from package manage-pip

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 15.5 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo.mongo_client import MongoClient
client = MongoClient("mongodb+srv://pwskills:pwskills@cluster0.xe9xplu.mongodb.net/?retryWrites=true&w=majority")

client

MongoClient(host=['ac-5s8jdzq-shard-00-00.xe9xplu.mongodb.net:27017', 'ac-5s8jdzq-shard-00-02.xe9xplu.mongodb.net:27017', 'ac-5s8jdzq-shard-00-01.xe9xplu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-jho4jc-shard-0', tls=True)

In [3]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://pwskills:pwskills@cluster0.xe9xplu.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
db = client['pwskills_database'] # creating database inside client - connected in cluster/server

In [5]:
collection_1 = db["pw_collection_1"] # creating collection inside database

#

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
data1 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [7]:
collection_1.insert_one(data1) # inserting single dictionary data inside collection

In [8]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

In [9]:
data2 = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [10]:
collection_1.insert_many(data2) # inserting many dictionary data inside collection

In [11]:
for i in collection_1.find():  # return all records present inside given-collection
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [12]:
collection_1.find_one() #prints first record of collection

{'_id': ObjectId('6457241494e884b522851d95'),
 'name': 'notebook',
 'qty': 50,
 'rating': [{'score': 8}, {'score': 9}],
 'size': {'height': 11, 'width': 8.5, 'unit': 'in'},
 'status': 'A',
 'tags': ['college-ruled', 'perforated']}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one. If we want to return pointer on all documents then use empty() parameter that returns all documents one by one. It takes only some optional parameters. The first optional parameter is the selection criteria on which we want to return a cursor. To return all documents in a collection use empty document({}). Using this method you can also replace embedded documents. You can also use this method in multi-document transactions. If you use this method in the mongo shell, then the shell will automatically iterate the cursor to display up to 20 documents in the collection, if you want to continue then type it or you can manually iterate the result of the find() method by assigning the returned cursor to a variable with the var keyword. You can also modify the behavior of this method using cursor methods.

Syntax:

> db.Collection_name.find(selection_criteria, projection,options)

Optional parameters:

- selection_criteria: It specifies selection criteria. To return all documents in a collection use empty document({}). The type of this parameter is document.
- projection: It specifies the fields to return in the documents that match the selection criteria. To return all fields in the matching documents, remove this parameter. It is of the document type.
- options: It specifies some additional options for the selection_criteria parameter. It modifies the behavior of selection_criteria and also affects the results that will be returned.

This document takes:

    { field1: <value1> , field2: <value2> ... }
    > Here if the value of the field is 1/true then it specifies the inclusion of the field, or if the value of the field is 0/false then it specifies the exclusion of the field.

Return:

    It returns a cursor to the documents that match the selection criteria. When the find() method returns documents, the method is actually returning a cursor to the documents.
    
In-Short : To query documents from a collection in MongoDB using PyMongo in Python, you can use the find() method. This method returns a cursor that you can use to iterate over the documents that match the query. The find() method takes an optional filter argument, which specifies the conditions that the documents must match, and it returns all the documents in the collection if no filter is provided.

## 1. Find all the documents present in the collection:

In [13]:
for i in collection_1.find(): # looping is required to print all records/fields/documents in collection
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

## 2. Find all the documents present in the collection by passing empty document:

In [14]:
for i in collection_1.find({}): # passing blanking dictionary will print all records
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

## 3. Find all the document that matches the given filter query(i.e., companyName:iNeuron):

In [15]:
for i in collection_1.find({"companyName":"iNeuron"}):
    # passing filter print only records with companyName:iNeuron in dictionary format to search in collection/records
    print(i)

{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

## 4. Find the embedded document that matches the given filter query:

In [16]:
for i in collection_1.find({'tags': ['college-ruled', 'perforated']}):
    # passing filter to print only records with 'tag': ['college-ruled', 'perforated'] in collection
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

## 5. Display only the specified fields(Using Projection):

In [17]:
for i in collection_1.find({},{"product"}):
    # passing filter to print only records/fields with 'product' key in collection or records
    print(i)

{'_id': ObjectId('6457241494e884b522851d95')}
{'_id': ObjectId('6457241994e884b522851d96'), 'product': 'Affordable AI'}
{'_id': ObjectId('6457241994e884b522851d97'), 'product': 'Affordable AI'}
{'_id': ObjectId('6457241994e884b522851d98'), 'product': 'Master Program'}

In [18]:
for i in collection_1.find({},{"courseOffered"}):
    # passing filter to print only records/fields with 'courseOffered' key in collection
    print(i)

{'_id': ObjectId('6457241494e884b522851d95')}
{'_id': ObjectId('6457241994e884b522851d96'), 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'courseOffered': 'Data Science Masters Program'}

## 6. Display only two documents using the limit() method:

In [19]:
for i in collection_1.find().limit(2):
    # passing 2 in limit to print only 2 first occured/found records/fields in collection
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

## 7. Display only _id greater than equal to 4 data:

In [20]:
# inserting many records to print 'greater than' compared data 
data3 = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

collection_1.insert_many(data3)
for i in collection_1.find():
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [21]:
for i in collection_1.find({'_id' :{'$gte' : '4'}}):
    # passing filter if _id is greater than equal to '4' in collection then print
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

> .sort([("field1",pymongo.ASCENDING), ("field2",pymongo.DESCENDING)])   :   
to sort multiple fields. 

    
    sort("name", 1) #ascending
    sort("name", -1) #descending

In [22]:
for i in collection_1.find():
    # printing all records in collection
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [23]:
for i in collection_1.find().sort('_id', pymongo.ASCENDING):
    # printing sorted records of '_id' in ascending order in collection
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [24]:
for i in collection_1.find().sort('_id', pymongo.DESCENDING):
   # printing sorted records of '_id' in descending order in collection
    print(i)

{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

### 1. Delete Document/ delete_one()
To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

Note: If the query finds more than one document, only the first occurrence is deleted.

In [25]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d96'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [26]:
collection_1.delete_one()

TypeError: Collection.delete_one() missing 1 required positional argument: 'filter'

In [27]:
x = collection_1.delete_one({'companyName': "iNeuron"}) #the first occurrence is deleted.
print(x.deleted_count)

1

In [28]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('6457241494e884b522851d95'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [29]:
for i in collection_1.delete_one({'name': "notebook"}):
    print(i)

TypeError: 'DeleteResult' object is not iterable

In [31]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [32]:
print(collection_1.delete_one({'name': "notebook"}))

<pymongo.results.DeleteResult object at 0x7fd165b9f790>

In [33]:
x = collection_1.delete_one({'name': "notebook"})
print(x.deleted_count)

0

In [34]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('6457241994e884b522851d97'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6457241994e884b522851d98'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

### 2. Delete Many Documents/ delete_many()
To delete more than one document, use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

In [35]:
#Delete all documents were the courseOffered starts with the letter small 'd':

myquery = { "courseOffered": {"$regex": "^d"} }
x = collection_1.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

0  documents deleted.

In [36]:
#Delete all documents were the courseOffered starts with the letter small 'D':

myquery = { "courseOffered": {"$regex": "^D"} }
x = collection_1.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

2  documents deleted.

In [37]:
for i in collection_1.find():
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

To delete all documents in a collection, pass an empty query object to the delete_many() method:

Example
    
    Delete all documents in the "customers" collection:

    import pymongo

    myclient = pymongo.MongoClient("mongodb://localhost:27017/")
    mydb = myclient["mydatabase"]
    mycol = mydb["customers"]

    x = mycol.delete_many({})

    print(x.deleted_count, " documents deleted.")

### 3. Delete Collection/ drop()
You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

> The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist. ||||| 'not sure because cloud based Mongodb Atlas is returning None'

In [42]:
collection_1.drop()

In [40]:
for i in collection_1.find(): # after droping collection it doesn't have any records to print
    print(i)