# Assignment no.2
## 30th jan Assignment

#### 1) Write a program to accept percentage from the user and display the grade according to the following

- Marks______________________Grade
- '>90'_________________________A
- '>80' and '<=90' ____________B
- '>=60' and '<=80'___________C
- below '60' ___________________D

In [34]:
per= int(input("enter your percentage"))

if per>90 and per<=100:
    print("Your Grade is A")
    
elif per>80 and per<=90:
    print("Your Grade is B")

elif per>=60 and per<=80:
    print("Your Grade is C")

elif per<60 and per>0:
    print("Your Grade is D")
    
else:
    print("Enter number between 1 to 100")

enter your percentage 50

Your Grade is D

#### 2) Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria

- Tax_________________________Cos Price(in Rs)
- '15%'_________________________'>100000'
- '10%' ________________________'>50000 and <= 100000'
- '5%'_________________________ '<=50000'

In [16]:
price= int(input("Enter bike cost price"))

if price>100000:
    tax=price*0.15
    print(f"Bike cost : {price} rs. \nYour Road Tax is 15% : {tax} rs.")
    
elif price>50000 and price<=100000:
    tax=price*0.10
    print(f"Bike cost : {price} rs. \nYour Road Tax is 10% : {tax} rs.")    
elif price>0 and price<=50000:
    tax=price*0.05
    print(f"Bike cost : {price} rs. \nYour Road Tax is 5% : {tax} rs.") #\nTotal amount :{price+tax} rs.")
    
else :
    print("Please enter valid input")

Enter bike cost price 100100

Bike cost : 100100 rs.
Your Road Tax is 15% : 15015.0 rs.

#### 3) Accept any city from the user and display monuments of that city
- City_______________________Monument
- Delhi_______________________Red Fort
- Agra_______________________Taj Mahal
- Jaipur _____________________Jal mahal

In [35]:
city_monum= {"Delhi":"Red Fort", "Agra":"Taj Mahal", "Jaipur":"Jal Mahal"}

city_list=list(city_monum.keys())

i=0

for i in city_list:
    print(i)
    
city_name=str(input("\nEnter given city name form list").capitalize())

if city_name in city_list:
    print("\nThe famous monument of city {} is : {}".format(city_name,city_monum[city_name]))
else:
    print("please write name from given city list")

Delhi
Agra
Jaipur

Enter given city name form list delhi

The famous monument of city Delhi is : Red Fort

#### 4) Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [81]:
number=int(input("Enter number"))

c=0
while number>10:
    number=number/3
    print(number)
    c+=1
print(f"\n{c} times, it can be divided before it's less than or equal to 10")

Enter number 180

60.0
20.0
6.666666666666667

3 times, it can be divided before it's less than or equal to 10

#### 5) why and When to Use while Loop in Python give a detailed description with example

- while loop is an indefinite itteration that is used when a loop repeats unkown number of times and end when some condition is met.

In [91]:
# program to calculate the sum of numbers
# until the user enters zero

total = 0

number = int(input('Enter a number: '))

# add numbers until number is zero
while number != 0:
    total += number    # total = total + number
    
    # take integer input again
    number = int(input('Enter a number: '))
    

print('total =', total)

Enter a number:  3
Enter a number:  52
Enter a number:  -3
Enter a number:  3
Enter a number:  0

total = 55

- In the above example, the while iterates until the user enters zero. When the user enters zero, the test condition evaluates to False and the loop ends.

- while condition:
>*     run code until the condition evaluates to False
#### Note that in case of while loop the indented body of the loop should modify at least one variable in the test condition else the result is infinite loop.

Example:

age = 32

# the test condition is always True
while age > 18:
    print('You can vote')
    
In this example, the condition always evaluates to True. Hence,
the loop body will run for infinite times.
_______________________________________________________________________

counter = 0

while counter < 3:
    print(counter'Inside loop')
    counter = counter + 1     #increment counter in each cycle so that it can reach termination condition#
else:
    print('Inside else')

##### 6) Use nested while loop to print 3 different pattern

In [3]:

i=5  # type the number of how many row and coloumn square you want to draw
k=i
while i>0:
    
    j=k
    while j>0:
        print("*",end=" ")
        j-=1
        
   # print("i")
    print()
    i-=1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [25]:
# in this nested while loop, giving condition parameter of parent loop

i=5
c=0 
while i>0:
    #print(" "*i,end="") # uncomment this print to make it triangle
   
    j=0
    while j<c:
        print("*",end=" ")
        j+=1
        
    print("*")
    
    i-=1
    c+=1

*
* *
* * *
* * * *
* * * * *

In [32]:

i=5
c=0 
s=i
while c<i:
    print("  "*s,end="")
    j=0
    while j<=c*2:
        print("*",end=" ")
        j+=1
        
    print()
    c+=1
    s-=1

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

##### 7) Reverse a whiile loop to display number from 10 to 1

In [126]:
num_2 = 10
while num_2!=0:   # or num_3>0:
    print(num_2)
    num_2-=1      # or num_2 = num_2-1

10
9
8
7
6
5
4
3
2
1

##### 8) reverse a while loop to display numbers from 10 to 1

In [118]:
num = range(1,11)
i=0
while i<len(num):
    print(num[len(num)-i-1])
    i+=1

10
9
8
7
6
5
4
3
2
1