# Assignment no.5
## 4th feb Assignment

#### Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
tuple1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), 
          ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

tuple1.sort(key = lambda x : x[1], reverse = True)
for i in tuple1:
    print(i)

('Sachin Tendulkar', 34357)
('Ricky Ponting', 27483)
('Jack Kallis', 25534)
('Virat Kohli', 24936)

#### Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list_1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mapped= map(lambda x : x**2 ,list_1)
print(mapped) # this object need iteration (loop) or list() to output map object

print(list(mapped))

<map object at 0x7fd3302ed8a0>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
list_2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple(map(lambda x:str(x) , list_2))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

#### Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [7]:
from functools import reduce 

reduce(lambda x,y:x*y ,range(1,26))

15511210043330985984000000

#### Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [9]:
list3=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

a = filter(lambda x : x%2==0 or x%3==0 , list3)
list(a)

[2, 3, 6, 9, 27, 60, 90, 120, 46]

#### Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']

In [11]:
list4=['python', 'php', 'aba', 'radar', 'level']

p = filter(lambda x: x[::-1]==x , list4)

for i in p:
    print(i)

php
aba
radar
level